#sideBar {
    width: 20vw;
    height: 100vh;
    float: left;
    animation: moveInLeft 1s ease-out;
    display: none;
}

.list-group-item{
    background: darkgray;
    border-radius: 0px;
}
.card{
    border: none;

}
#searchBtn{
    border-radius: 20px;
}

#sideBarMenu{
    width: 100%;
  border: none;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem); }
    80% {
        transform: translateX(1rem); }
    100% {
        opacity: 1;
        transform: translate(0); }
}
