#sideBar {
    width: 20vw;
    height: 100vh;
    float: left;
    background: gray;
}

.list-group-item{
    background: darkgray;
    border-radius: 0px;
}
.card{
    border: none;

}
#searchBtn{
    border-radius: 20px;
}

#sideBarMenu{
    width: 100%;
  border: none;
}

