<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/Home.css">

    <title>Title</title>


</head>
<body>
<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand nav-link" href="#">Navbar</a>

    <div class=" navBarBtns ms-auto">
        <button class="btn text-white" type="button" data-toggle="collapse">Account</button>
        <button class="btn text-white" type="button" id="menuPopOut" value="NO">Menu</button>
    </div>
</nav>
<!--SideBar container-->
<!--needs to be adjusted, different font and size, as well as giving a cleaner look-->
<div class="sideBar rounded-0 w-25 border-right bg-dark" id="sideBar">
    <div class=" row w-100 p-0 m-0 d-flex justify-content-center align-items-center">
        <ul class="list-group p-0">
            <li class="list-group-item rounded-0 bg-dark text-white"><a href="">Create an account</a></li>
            <li class="list-group-item rounded-0 bg-dark text-white">Find a clinic</li>
            <li class="list-group-item rounded-0 bg-dark text-white">Information</li>
        </ul>
    </div>
</div>
<!--header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <!--name will be changed, placeholder for now-->
                    <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Pet Management</h1>
                    <p class="lead text-white-50 mb-40">Here you will be able to easily manage all of your pet
                        documents, making your documents readily available to give to your veterinarian or pet
                        daycare.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-info btn-lg px-4 me-sm-3">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Webpage-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-between">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="bg-primary bg-gradient text-white rounded-3 mb-3">
                    <!--icon goes here-->
                </div>
                <h2 class="h4 fw-bolder">Find a clinic near you</h2>
                <p>Here you will be able to search for a clinic that is a part of our network to make getting your pet paperwork even easier.</p>
                <button class="btn btn-info">Search</button>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="bg-primary bg-gradient text-white rounded-3 mb-3">
                    <!--icon goes here-->
                </div>
                <h2 class="h4 fw-bolder">Sign in to upload your recent documents</h2>
                <p>Once signed in you can upload your documents and be readily accessible.</p>
                <button class="btn btn-info">Upload</button>
            </div>
        </div>
    </div>
</section>
<!--information-->
<section class="py-5 border-bottom">
<div class="container px-5 my-5">

</div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="../home.js"></script>
</body>
</html>